.board {
	fill:#8D5B33;
}
.mancala,
.pocket {
	fill:#C49A6C;
}
.hover {
  fill: yellow !important;
}
.game {
	margin-top: 10px;
}
.row {
	margin-bottom: 20px !important;
}
#history-container {
	padding-right: 0;
}
#instructions-container {
	padding-left: 0;
}