.board {
	fill:#8D5B33;
}
.mancala,
.pocket {
	fill:#C49A6C;
}
.hover {
  fill: yellow !important;
}
.game {
	margin-top: 10px;
}
.row {
	margin-bottom: 20px !important;
}
#history-container,
#instructions-container {
	padding-right: 0;
	padding-left: 0;
}
@media only screen and (min-width : 768px) {
	#history-container {
		padding-right: 0;
		padding-left: 10px;
	}
	#instructions-container {
		padding-right: 10px;
		padding-left: 0;
	}
}