<div *ngIf="this._gameboardVisible">
  <div class="panel panel-default">
    <div class="row">
      <div class="col-sm-6">
        <p class="h3">{{this._playerA.name}}: {{this._playerA.score}}</p>
      </div>
      <div class="col-sm-6">
        <p class="h3">{{this._playerB.name}}: {{this._playerB.score}}</p>
      </div>
    </div>
  </div>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 793 420.118" style="enable-background:new 0 0 793 420.118;" xml:space="preserve">
    <g>
      <g class="gameboard">
        <rect x="0.5" y="0.5" width="792" height="419.118"/>
        <path d="M793,420.118H0V0h793V420.118z M1,419.118h791V1H1V419.118z"/>
      </g>
      <g class="mancala" id="mancalaB">
        <rect x="10.5" y="43.883" width="52.941" height="324.265"/>
        <text x="15.5" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[13] }}</text>
        <path d="M63.941,368.647H10V43.382h53.941V368.647z M11,367.647h51.941V44.382H11V367.647z"/>
      </g>
      <g class="mancala" id="mancalaA">
        <rect x="729.559" y="43.883" width="52.941" height="324.265"/>
        <text x="734.559" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[6] }}</text>
        <path d="M783,368.647h-53.941V43.382H783V368.647z M730.059,367.647H782V44.382h-51.941V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(12)" class="pocket" id="b6">
        <rect x="76.147" y="43.883" width="95.956" height="95.956"/>
        <text x="81.147" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[12] }}</text>
        <path d="M172.603,140.338H75.647V43.382h96.956V140.338z M76.647,139.338h94.956V44.382H76.647V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(0)" class="pocket" id="a1">
        <rect x="76.147" y="272.191" width="95.956" height="95.956"/>
        <text x="81.147" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[0] }}</text>
        <path d="M172.603,368.647H75.647v-96.956h96.956V368.647z M76.647,367.647h94.956v-94.956H76.647V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(11)" class="pocket" id="b5">
        <rect x="184.809" y="43.883" width="95.956" height="95.956"/>
        <text x="189.809" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[11] }}</text>
        <path d="M281.265,140.338h-96.956V43.382h96.956V140.338z M185.309,139.338h94.956V44.382h-94.956V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(1)" class="pocket" id="a2">
        <rect x="184.809" y="272.191" width="95.956" height="95.956"/>
        <text x="189.809" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[1] }}</text>
        <path d="M281.265,368.647h-96.956v-96.956h96.956V368.647z M185.309,367.647h94.956v-94.956h-94.956V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(2)" class="pocket" id="a3">
        <rect x="293.471" y="272.191" width="95.956" height="95.956"/>
        <text x="298.471" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[2] }}</text>
        <path d="M389.926,368.647h-96.956v-96.956h96.956V368.647z M293.971,367.647h94.956v-94.956h-94.956V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(10)" class="pocket" id="b4">
        <rect x="293.471" y="43.883" width="95.956" height="95.956"/>
        <text x="298.471" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[10] }}</text>
        <path d="M389.926,140.338h-96.956V43.382h96.956V140.338z M293.971,139.338h94.956V44.382h-94.956V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(9)" class="pocket" id="b3">
        <rect x="402.132" y="43.883" width="95.956" height="95.956"/>
        <text x="407.132" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[9] }}</text>
        <path d="M498.588,140.338h-96.955V43.382h96.955V140.338z M402.633,139.338h94.955V44.382h-94.955V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(3)" class="pocket" id="a4">
        <rect x="402.132" y="272.191" width="95.956" height="95.956"/>
        <text x="407.132" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[3] }}</text>
        <path d="M498.588,368.647h-96.955v-96.956h96.955V368.647z M402.633,367.647h94.955v-94.956h-94.955V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(8)" class="pocket" id="b2">
        <rect x="510.794" y="43.883" width="95.956" height="95.956"/>
        <text x="515.794" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[8] }}</text>
        <path d="M607.25,140.338h-96.956V43.382h96.956V140.338z M511.294,139.338h94.956V44.382h-94.956V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(7)" class="pocket" id="b1">
        <rect x="620.176" y="43.883" width="95.956" height="95.956"/>
        <text x="625.176" y="93.883" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[7] }}</text>
        <path d="M716.633,140.338h-96.956V43.382h96.956V140.338z M620.677,139.338h94.956V44.382h-94.956V139.338z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(4)" class="pocket" id="a5">
        <rect x="511.515" y="272.191" width="95.956" height="95.956"/>
        <text x="516.515" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[4] }}</text>
        <path d="M607.971,368.647h-96.956v-96.956h96.956V368.647z M512.015,367.647h94.956v-94.956h-94.956V367.647z"/>
      </g>
      <g appPocketHighlight (click)="pocketClicked(5)" class="pocket" id="a6">
        <rect x="620.897" y="272.191" width="95.956" height="95.956"/>
        <text x="625.897" y="322.191" font-family="Verdana" font-size="32" fill="white">{{ this._gameboard[5] }}</text>
        <path d="M717.353,368.647h-96.955v-96.956h96.955V368.647z M621.397,367.647h94.955v-94.956h-94.955V367.647z"/>
      </g>
    </g>
  </svg>
</div>
