<div *ngIf="this._summaryVisible" class="container" id="summary">
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title">Game Over</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <p *ngIf="!isDraw()" class="h3 text-center">The winner is {{ _winner }}!</p>
        <p *ngIf="isDraw()" class="h3 text-center">{{ this._playerA.name }} and {{ this._playerB.name }} tied!</p>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <p class="h3 text-center"><strong>{{ this._playerA.name }}</strong></p>
          <p class="h4 text-center">{{ this._playerA.score }}</p>
        </div>
        <div class="col-sm-4">
          <p class="h3 text-center"><strong>{{ this._playerB.name }}</strong></p>
          <p class="h4 text-center">{{ this._playerB.score }}</p>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <br>
      <div style="margin-top:10px" class="form-group text-center">
        <button (click)="onSubmit()" type="submit" class="btn btn-primary">Rematch!</button>
      </div>
    </div>
  </div>
</div>
