<div class="well well-sm" id="scoreboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="h3">Scoreboard</div>
      </div>
      <div class="col-sm-4">
        <div class="h3">
          <span>{{this._playerA.name}}: {{this._playerA.score}}</span>
          <span *ngIf="this._playerA.turn" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="h3">
          <span>{{this._playerB.name}}: {{this._playerB.score}}</span>
          <span *ngIf="this._playerB.turn" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
      </div>
    </div>
  </div>
</div>