<div class="panel panel-default">
  <div class="container-fluid">
    <h3>Game Instructions</h3>
    <br>
    <h4>Objective</h4>
    <p class="wrap">Collect the most “gemstones” by the end of the game.</p>
    <br>
    <h4>Set Up</h4>
    <p class="wrap">The six pockets on the bottom of the board and the large pocket - called a Mancala - on the right belong to Player 1.  The six pockets on the top and the Mancala on the left belong to Player 2.  Four stones are placed in each of the pockets.</p>
    <br>
    <h4>Playing</h4>
    <p class="wrap">Player 1 starts the game by removing the stones in any one of your own pockets and placing one in each pocket, starting with the next pocket to the right. Include your Mancala as a space as you place the stones in the pockets. If there are enough stones to go past your Mancala, continue placing them into your opponent’s pockets. However, skip your opponent's Mancala when placing stones. If your last stone ends up in your Mancala, you get to take another turn. If the last stone you place lands in an empty pocket on your side of the board, you get to take that stone - plus all of your opponent’s stones that are in the opposite pocket — and place them in your own Mancala.</p>
    <br>
    <h4>Ending and Winning the Game</h4>
    <p class="wrap">The game ends when all six pockets on one side of the gameboard are empty. The other player takes the remaining stones in his pockets and places them in his Mancala. The player who has the most stones in his Mancala wins.</p>
  </div>
</div>